body {
    
    overflow: hidden;
     font-family: Arial, Helvetica, sans-serif;
     background-image:linear-gradient(to right, #76008E ,#000);
}

:root {
    --color-light-50: f8fafc;

    --color-dark-50:#797984;
    --color-dark-100:#312d37;
    --color-dark-900:#000;

    --color-purple-50:#7c3aed;
    --color-purple-100:#a855f7;
    --color-purple-200:#bf46ef;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 #container {
    height: 100vw;
    width: 100%;
    display: flex;
    padding-top: 7%;
  
    justify-content: center;

 }
 #login-form {
    background-color:#f8fafc;
    display: flex;
    flex-direction: column;
    padding: 30px 40px ;
    border-radius: 8px;
    gap: 30px;
    box-sizing: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;

 }
#form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form_header h1{
    font-size: 40px;
    position: relative;

}
#form_header h1::before{
   position: absolute;
   content: '';
   width: 40%;
   background-color:#7c3aed;
   height: 3px;
   bottom: 5px;
   border-radius: 5px;
   

    
}
#mode_icon{
    cursor: pointer;
    font-size: 20px;
}
#social_media {
    display: flex;
    justify-content: space-around;
}
#social_media img {
 width: 35px;
}
#social_media img:hover {
transform: scale(1.2)
}
#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input-box label {
     font-size: 14px;
     color:#797984;
     
}
.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid #7c3aed;
}
.input-field i {
    font-size: 18px;
    color:#000;
}
.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}
.input-field input:focus {
    outline: none;
}
#forgot_password a{
    text-decoration: none;
    font-size: 12px;
    color: #797984;
}
#forgot_password a:hover{
    color: #7c3aed;
}
#login-button {
    border: none;
    background:  linear-gradient(to right, #76008E ,#000);;
    color: #f8fafc;
    padding: 7px;
    font-size:18px ;
    border-radius: 3px;
    font-weight: bold;
}
#login-button:hover {
    transform: scale(1.05);
}